/* ==========================================================================
   #MQ
   ========================================================================== */
/**
* Pre-configuration for Sass MQ.
* $breakpoint argument options 
*
* xs..........30em - 480px
* sm..........45em - 720px
* md..........64em - 1024px
* lg..........75em - 1200px
*
*/
/**
{# FUTURE BREAKPOINTS #} 
{% set phone_large = '22.5em' %}    {# 360px #} 
{% set tablet = '37.5em' %}         {# 600px #} 
{% set tablet_large = '56.25em' %}  {# 900px #} 
{% set desktop = '68.75em' %}       {# 1100px #} 
{% set desktop_large = '112.5em' %} {# 1800px #} 
{% set desktop_larger = '150em' %}  {# 2400px #} 
*/
@media only screen and (min-width: 22.5em) {
  .u-1\/1--phone-lg {
    flex: 1 1 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-1\/1--phone-lg {
    margin-left: 100% !important; }
  .u-pull-1\/1--phone-lg {
    margin-right: 100% !important; }
  /* halves
    ========================================================================== */
  .u-1\/2--phone-lg {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-1\/2--phone-lg {
    margin-left: 50% !important; }
  .u-pull-1\/2--phone-lg {
    margin-right: 50% !important; }
  .u-2\/2--phone-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-2\/2--phone-lg {
    margin-left: 100% !important; }
  .u-pull-2\/2--phone-lg {
    margin-right: 100% !important; }
  /* Thirds
    ========================================================================== */
  .u-1\/3--phone-lg {
    flex: 0 0 33.333333333% !important;
    max-width: 33.333333333% !important;
    width: 33.333333333% !important; }
  .u-push-1\/3--phone-lg {
    margin-left: 33.333333333% !important; }
  .u-pull-1\/3--phone-lg {
    margin-right: 33.333333333% !important; }
  .u-2\/3--phone-lg {
    flex: 0 0 66.666666667% !important;
    max-width: 66.666666667% !important;
    width: 66.666666667% !important; }
  .u-push-2\/3--phone-lg {
    margin-left: 66.666666667% !important; }
  .u-pull-2\/3--phone-lg {
    margin-right: 66.666666667% !important; }
  .u-3\/3--phone-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-3\/3--phone-lg {
    margin-left: 100% !important; }
  .u-pull-3\/3--phone-lg {
    margin-right: 100% !important; }
  /* Fourths
    ========================================================================== */
  .u-1\/4--phone-lg {
    flex: 0 0 25% !important;
    max-width: 25% !important;
    width: 25% !important; }
  .u-push-1\/4--phone-lg {
    margin-left: 25% !important; }
  .u-pull-1\/4--phone-lg {
    margin-right: 25% !important; }
  .u-2\/4--phone-lg {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-2\/4--phone-lg {
    margin-left: 50% !important; }
  .u-pull-2\/4--phone-lg {
    margin-right: 50% !important; }
  .u-3\/4--phone-lg {
    flex: 0 0 75% !important;
    max-width: 75% !important;
    width: 75% !important; }
  .u-push-3\/4--phone-lg {
    margin-left: 75% !important; }
  .u-pull-3\/4--phone-lg {
    margin-right: 75% !important; }
  .u-4\/4--phone-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-4\/4--phone-lg {
    margin-left: 100% !important; }
  .u-pull-4\/4--phone-lg {
    margin-right: 100% !important; }
  /* Fifths
    ========================================================================== */
  .u-1\/5--phone-lg {
    flex: 0 0 20% !important;
    max-width: 20% !important;
    width: 20% !important; }
  .u-push-1\/5--phone-lg {
    margin-left: 20% !important; }
  .u-pull-1\/5--phone-lg {
    margin-right: 20% !important; }
  .u-2\/5--phone-lg {
    flex: 0 0 40% !important;
    max-width: 40% !important;
    width: 40% !important; }
  .u-push-2\/5--phone-lg {
    margin-left: 40% !important; }
  .u-pull-2\/5--phone-lg {
    margin-right: 40% !important; }
  .u-3\/5--phone-lg {
    flex: 0 0 60% !important;
    max-width: 60% !important;
    width: 60% !important; }
  .u-push-3\/5--phone-lg {
    margin-left: 60% !important; }
  .u-pull-3\/5--phone-lg {
    margin-right: 60% !important; }
  .u-4\/5--phone-lg {
    flex: 0 0 80% !important;
    max-width: 80% !important;
    width: 80% !important; }
  .u-push-4\/5--phone-lg {
    margin-left: 80% !important; }
  .u-pull-4\/5--phone-lg {
    margin-right: 80% !important; }
  .u-5\/5--phone-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-5\/5--phone-lg {
    margin-left: 100% !important; }
  .u-pull-5\/5--phone-lg {
    margin-right: 100% !important; }
  /* Sixths
    ========================================================================== */
  .u-1\/6--phone-lg {
    flex: 0 0 16.6666667% !important;
    max-width: 16.6666667% !important;
    width: 16.6666667% !important; }
  .u-push-1\/6--phone-lg {
    margin-left: 16.6666667% !important; }
  .u-pull-1\/6--phone-lg {
    margin-right: 16.6666667% !important; }
  .u-2\/6--phone-lg {
    flex: 0 0 33.3333333% !important;
    max-width: 33.3333333% !important;
    width: 33.3333333% !important; }
  .u-push-2\/6--phone-lg {
    margin-left: 33.3333333% !important; }
  .u-pull-2\/6--phone-lg {
    margin-right: 33.3333333% !important; }
  .u-3\/6--phone-lg {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-3\/6--phone-lg {
    margin-left: 50% !important; }
  .u-pull-3\/6--phone-lg {
    margin-right: 50% !important; }
  .u-4\/6--phone-lg {
    flex: 0 0 66.6666667% !important;
    max-width: 66.6666667% !important;
    width: 66.6666667% !important; }
  .u-push-4\/6--phone-lg {
    margin-left: 66.6666667% !important; }
  .u-pull-4\/6--phone-lg {
    margin-right: 66.6666667% !important; }
  .u-5\/6--phone-lg {
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
    width: 83.333333% !important; }
  .u-push-5\/6--phone-lg {
    margin-left: 83.333333% !important; }
  .u-pull-5\/6--phone-lg {
    margin-right: 83.333333% !important; }
  .u-6\/6--phone-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-6\/6--phone-lg {
    margin-left: 100% !important; }
  .u-pull-6\/6--phone-lg {
    margin-right: 100% !important; } }

@media only screen and (min-width: 37.5em) {
  .u-1\/1--tablet {
    flex: 1 1 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-1\/1--tablet {
    margin-left: 100% !important; }
  .u-pull-1\/1--tablet {
    margin-right: 100% !important; }
  /* halves
    ========================================================================== */
  .u-1\/2--tablet {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-1\/2--tablet {
    margin-left: 50% !important; }
  .u-pull-1\/2--tablet {
    margin-right: 50% !important; }
  .u-2\/2--tablet {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-2\/2--tablet {
    margin-left: 100% !important; }
  .u-pull-2\/2--tablet {
    margin-right: 100% !important; }
  /* Thirds
    ========================================================================== */
  .u-1\/3--tablet {
    flex: 0 0 33.333333333% !important;
    max-width: 33.333333333% !important;
    width: 33.333333333% !important; }
  .u-push-1\/3--tablet {
    margin-left: 33.333333333% !important; }
  .u-pull-1\/3--tablet {
    margin-right: 33.333333333% !important; }
  .u-2\/3--tablet {
    flex: 0 0 66.666666667% !important;
    max-width: 66.666666667% !important;
    width: 66.666666667% !important; }
  .u-push-2\/3--tablet {
    margin-left: 66.666666667% !important; }
  .u-pull-2\/3--tablet {
    margin-right: 66.666666667% !important; }
  .u-3\/3--tablet {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-3\/3--tablet {
    margin-left: 100% !important; }
  .u-pull-3\/3--tablet {
    margin-right: 100% !important; }
  /* Fourths
    ========================================================================== */
  .u-1\/4--tablet {
    flex: 0 0 25% !important;
    max-width: 25% !important;
    width: 25% !important; }
  .u-push-1\/4--tablet {
    margin-left: 25% !important; }
  .u-pull-1\/4--tablet {
    margin-right: 25% !important; }
  .u-2\/4--tablet {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-2\/4--tablet {
    margin-left: 50% !important; }
  .u-pull-2\/4--tablet {
    margin-right: 50% !important; }
  .u-3\/4--tablet {
    flex: 0 0 75% !important;
    max-width: 75% !important;
    width: 75% !important; }
  .u-push-3\/4--tablet {
    margin-left: 75% !important; }
  .u-pull-3\/4--tablet {
    margin-right: 75% !important; }
  .u-4\/4--tablet {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-4\/4--tablet {
    margin-left: 100% !important; }
  .u-pull-4\/4--tablet {
    margin-right: 100% !important; }
  /* Fifths
    ========================================================================== */
  .u-1\/5--tablet {
    flex: 0 0 20% !important;
    max-width: 20% !important;
    width: 20% !important; }
  .u-push-1\/5--tablet {
    margin-left: 20% !important; }
  .u-pull-1\/5--tablet {
    margin-right: 20% !important; }
  .u-2\/5--tablet {
    flex: 0 0 40% !important;
    max-width: 40% !important;
    width: 40% !important; }
  .u-push-2\/5--tablet {
    margin-left: 40% !important; }
  .u-pull-2\/5--tablet {
    margin-right: 40% !important; }
  .u-3\/5--tablet {
    flex: 0 0 60% !important;
    max-width: 60% !important;
    width: 60% !important; }
  .u-push-3\/5--tablet {
    margin-left: 60% !important; }
  .u-pull-3\/5--tablet {
    margin-right: 60% !important; }
  .u-4\/5--tablet {
    flex: 0 0 80% !important;
    max-width: 80% !important;
    width: 80% !important; }
  .u-push-4\/5--tablet {
    margin-left: 80% !important; }
  .u-pull-4\/5--tablet {
    margin-right: 80% !important; }
  .u-5\/5--tablet {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-5\/5--tablet {
    margin-left: 100% !important; }
  .u-pull-5\/5--tablet {
    margin-right: 100% !important; }
  /* Sixths
    ========================================================================== */
  .u-1\/6--tablet {
    flex: 0 0 16.6666667% !important;
    max-width: 16.6666667% !important;
    width: 16.6666667% !important; }
  .u-push-1\/6--tablet {
    margin-left: 16.6666667% !important; }
  .u-pull-1\/6--tablet {
    margin-right: 16.6666667% !important; }
  .u-2\/6--tablet {
    flex: 0 0 33.3333333% !important;
    max-width: 33.3333333% !important;
    width: 33.3333333% !important; }
  .u-push-2\/6--tablet {
    margin-left: 33.3333333% !important; }
  .u-pull-2\/6--tablet {
    margin-right: 33.3333333% !important; }
  .u-3\/6--tablet {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-3\/6--tablet {
    margin-left: 50% !important; }
  .u-pull-3\/6--tablet {
    margin-right: 50% !important; }
  .u-4\/6--tablet {
    flex: 0 0 66.6666667% !important;
    max-width: 66.6666667% !important;
    width: 66.6666667% !important; }
  .u-push-4\/6--tablet {
    margin-left: 66.6666667% !important; }
  .u-pull-4\/6--tablet {
    margin-right: 66.6666667% !important; }
  .u-5\/6--tablet {
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
    width: 83.333333% !important; }
  .u-push-5\/6--tablet {
    margin-left: 83.333333% !important; }
  .u-pull-5\/6--tablet {
    margin-right: 83.333333% !important; }
  .u-6\/6--tablet {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-6\/6--tablet {
    margin-left: 100% !important; }
  .u-pull-6\/6--tablet {
    margin-right: 100% !important; } }

@media only screen and (min-width: 56.25em) {
  .u-1\/1--tablet-lg {
    flex: 1 1 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-1\/1--tablet-lg {
    margin-left: 100% !important; }
  .u-pull-1\/1--tablet-lg {
    margin-right: 100% !important; }
  /* halves
    ========================================================================== */
  .u-1\/2--tablet-lg {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-1\/2--tablet-lg {
    margin-left: 50% !important; }
  .u-pull-1\/2--tablet-lg {
    margin-right: 50% !important; }
  .u-2\/2--tablet-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-2\/2--tablet-lg {
    margin-left: 100% !important; }
  .u-pull-2\/2--tablet-lg {
    margin-right: 100% !important; }
  /* Thirds
    ========================================================================== */
  .u-1\/3--tablet-lg {
    flex: 0 0 33.333333333% !important;
    max-width: 33.333333333% !important;
    width: 33.333333333% !important; }
  .u-push-1\/3--tablet-lg {
    margin-left: 33.333333333% !important; }
  .u-pull-1\/3--tablet-lg {
    margin-right: 33.333333333% !important; }
  .u-2\/3--tablet-lg {
    flex: 0 0 66.666666667% !important;
    max-width: 66.666666667% !important;
    width: 66.666666667% !important; }
  .u-push-2\/3--tablet-lg {
    margin-left: 66.666666667% !important; }
  .u-pull-2\/3--tablet-lg {
    margin-right: 66.666666667% !important; }
  .u-3\/3--tablet-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-3\/3--tablet-lg {
    margin-left: 100% !important; }
  .u-pull-3\/3--tablet-lg {
    margin-right: 100% !important; }
  /* Fourths
    ========================================================================== */
  .u-1\/4--tablet-lg {
    flex: 0 0 25% !important;
    max-width: 25% !important;
    width: 25% !important; }
  .u-push-1\/4--tablet-lg {
    margin-left: 25% !important; }
  .u-pull-1\/4--tablet-lg {
    margin-right: 25% !important; }
  .u-2\/4--tablet-lg {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-2\/4--tablet-lg {
    margin-left: 50% !important; }
  .u-pull-2\/4--tablet-lg {
    margin-right: 50% !important; }
  .u-3\/4--tablet-lg {
    flex: 0 0 75% !important;
    max-width: 75% !important;
    width: 75% !important; }
  .u-push-3\/4--tablet-lg {
    margin-left: 75% !important; }
  .u-pull-3\/4--tablet-lg {
    margin-right: 75% !important; }
  .u-4\/4--tablet-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-4\/4--tablet-lg {
    margin-left: 100% !important; }
  .u-pull-4\/4--tablet-lg {
    margin-right: 100% !important; }
  /* Fifths
    ========================================================================== */
  .u-1\/5--tablet-lg {
    flex: 0 0 20% !important;
    max-width: 20% !important;
    width: 20% !important; }
  .u-push-1\/5--tablet-lg {
    margin-left: 20% !important; }
  .u-pull-1\/5--tablet-lg {
    margin-right: 20% !important; }
  .u-2\/5--tablet-lg {
    flex: 0 0 40% !important;
    max-width: 40% !important;
    width: 40% !important; }
  .u-push-2\/5--tablet-lg {
    margin-left: 40% !important; }
  .u-pull-2\/5--tablet-lg {
    margin-right: 40% !important; }
  .u-3\/5--tablet-lg {
    flex: 0 0 60% !important;
    max-width: 60% !important;
    width: 60% !important; }
  .u-push-3\/5--tablet-lg {
    margin-left: 60% !important; }
  .u-pull-3\/5--tablet-lg {
    margin-right: 60% !important; }
  .u-4\/5--tablet-lg {
    flex: 0 0 80% !important;
    max-width: 80% !important;
    width: 80% !important; }
  .u-push-4\/5--tablet-lg {
    margin-left: 80% !important; }
  .u-pull-4\/5--tablet-lg {
    margin-right: 80% !important; }
  .u-5\/5--tablet-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-5\/5--tablet-lg {
    margin-left: 100% !important; }
  .u-pull-5\/5--tablet-lg {
    margin-right: 100% !important; }
  /* Sixths
    ========================================================================== */
  .u-1\/6--tablet-lg {
    flex: 0 0 16.6666667% !important;
    max-width: 16.6666667% !important;
    width: 16.6666667% !important; }
  .u-push-1\/6--tablet-lg {
    margin-left: 16.6666667% !important; }
  .u-pull-1\/6--tablet-lg {
    margin-right: 16.6666667% !important; }
  .u-2\/6--tablet-lg {
    flex: 0 0 33.3333333% !important;
    max-width: 33.3333333% !important;
    width: 33.3333333% !important; }
  .u-push-2\/6--tablet-lg {
    margin-left: 33.3333333% !important; }
  .u-pull-2\/6--tablet-lg {
    margin-right: 33.3333333% !important; }
  .u-3\/6--tablet-lg {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-3\/6--tablet-lg {
    margin-left: 50% !important; }
  .u-pull-3\/6--tablet-lg {
    margin-right: 50% !important; }
  .u-4\/6--tablet-lg {
    flex: 0 0 66.6666667% !important;
    max-width: 66.6666667% !important;
    width: 66.6666667% !important; }
  .u-push-4\/6--tablet-lg {
    margin-left: 66.6666667% !important; }
  .u-pull-4\/6--tablet-lg {
    margin-right: 66.6666667% !important; }
  .u-5\/6--tablet-lg {
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
    width: 83.333333% !important; }
  .u-push-5\/6--tablet-lg {
    margin-left: 83.333333% !important; }
  .u-pull-5\/6--tablet-lg {
    margin-right: 83.333333% !important; }
  .u-6\/6--tablet-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-6\/6--tablet-lg {
    margin-left: 100% !important; }
  .u-pull-6\/6--tablet-lg {
    margin-right: 100% !important; } }

@media only screen and (min-width: 68.75em) {
  .u-1\/1--desktop {
    flex: 1 1 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-1\/1--desktop {
    margin-left: 100% !important; }
  .u-pull-1\/1--desktop {
    margin-right: 100% !important; }
  /* halves
    ========================================================================== */
  .u-1\/2--desktop {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-1\/2--desktop {
    margin-left: 50% !important; }
  .u-pull-1\/2--desktop {
    margin-right: 50% !important; }
  .u-2\/2--desktop {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-2\/2--desktop {
    margin-left: 100% !important; }
  .u-pull-2\/2--desktop {
    margin-right: 100% !important; }
  /* Thirds
    ========================================================================== */
  .u-1\/3--desktop {
    flex: 0 0 33.333333333% !important;
    max-width: 33.333333333% !important;
    width: 33.333333333% !important; }
  .u-push-1\/3--desktop {
    margin-left: 33.333333333% !important; }
  .u-pull-1\/3--desktop {
    margin-right: 33.333333333% !important; }
  .u-2\/3--desktop {
    flex: 0 0 66.666666667% !important;
    max-width: 66.666666667% !important;
    width: 66.666666667% !important; }
  .u-push-2\/3--desktop {
    margin-left: 66.666666667% !important; }
  .u-pull-2\/3--desktop {
    margin-right: 66.666666667% !important; }
  .u-3\/3--desktop {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-3\/3--desktop {
    margin-left: 100% !important; }
  .u-pull-3\/3--desktop {
    margin-right: 100% !important; }
  /* Fourths
    ========================================================================== */
  .u-1\/4--desktop {
    flex: 0 0 25% !important;
    max-width: 25% !important;
    width: 25% !important; }
  .u-push-1\/4--desktop {
    margin-left: 25% !important; }
  .u-pull-1\/4--desktop {
    margin-right: 25% !important; }
  .u-2\/4--desktop {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-2\/4--desktop {
    margin-left: 50% !important; }
  .u-pull-2\/4--desktop {
    margin-right: 50% !important; }
  .u-3\/4--desktop {
    flex: 0 0 75% !important;
    max-width: 75% !important;
    width: 75% !important; }
  .u-push-3\/4--desktop {
    margin-left: 75% !important; }
  .u-pull-3\/4--desktop {
    margin-right: 75% !important; }
  .u-4\/4--desktop {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-4\/4--desktop {
    margin-left: 100% !important; }
  .u-pull-4\/4--desktop {
    margin-right: 100% !important; }
  /* Fifths
    ========================================================================== */
  .u-1\/5--desktop {
    flex: 0 0 20% !important;
    max-width: 20% !important;
    width: 20% !important; }
  .u-push-1\/5--desktop {
    margin-left: 20% !important; }
  .u-pull-1\/5--desktop {
    margin-right: 20% !important; }
  .u-2\/5--desktop {
    flex: 0 0 40% !important;
    max-width: 40% !important;
    width: 40% !important; }
  .u-push-2\/5--desktop {
    margin-left: 40% !important; }
  .u-pull-2\/5--desktop {
    margin-right: 40% !important; }
  .u-3\/5--desktop {
    flex: 0 0 60% !important;
    max-width: 60% !important;
    width: 60% !important; }
  .u-push-3\/5--desktop {
    margin-left: 60% !important; }
  .u-pull-3\/5--desktop {
    margin-right: 60% !important; }
  .u-4\/5--desktop {
    flex: 0 0 80% !important;
    max-width: 80% !important;
    width: 80% !important; }
  .u-push-4\/5--desktop {
    margin-left: 80% !important; }
  .u-pull-4\/5--desktop {
    margin-right: 80% !important; }
  .u-5\/5--desktop {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-5\/5--desktop {
    margin-left: 100% !important; }
  .u-pull-5\/5--desktop {
    margin-right: 100% !important; }
  /* Sixths
    ========================================================================== */
  .u-1\/6--desktop {
    flex: 0 0 16.6666667% !important;
    max-width: 16.6666667% !important;
    width: 16.6666667% !important; }
  .u-push-1\/6--desktop {
    margin-left: 16.6666667% !important; }
  .u-pull-1\/6--desktop {
    margin-right: 16.6666667% !important; }
  .u-2\/6--desktop {
    flex: 0 0 33.3333333% !important;
    max-width: 33.3333333% !important;
    width: 33.3333333% !important; }
  .u-push-2\/6--desktop {
    margin-left: 33.3333333% !important; }
  .u-pull-2\/6--desktop {
    margin-right: 33.3333333% !important; }
  .u-3\/6--desktop {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-3\/6--desktop {
    margin-left: 50% !important; }
  .u-pull-3\/6--desktop {
    margin-right: 50% !important; }
  .u-4\/6--desktop {
    flex: 0 0 66.6666667% !important;
    max-width: 66.6666667% !important;
    width: 66.6666667% !important; }
  .u-push-4\/6--desktop {
    margin-left: 66.6666667% !important; }
  .u-pull-4\/6--desktop {
    margin-right: 66.6666667% !important; }
  .u-5\/6--desktop {
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
    width: 83.333333% !important; }
  .u-push-5\/6--desktop {
    margin-left: 83.333333% !important; }
  .u-pull-5\/6--desktop {
    margin-right: 83.333333% !important; }
  .u-6\/6--desktop {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-6\/6--desktop {
    margin-left: 100% !important; }
  .u-pull-6\/6--desktop {
    margin-right: 100% !important; } }

@media only screen and (min-width: 112.5em) {
  .u-1\/1--desktop-lg {
    flex: 1 1 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-1\/1--desktop-lg {
    margin-left: 100% !important; }
  .u-pull-1\/1--desktop-lg {
    margin-right: 100% !important; }
  /* halves
    ========================================================================== */
  .u-1\/2--desktop-lg {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-1\/2--desktop-lg {
    margin-left: 50% !important; }
  .u-pull-1\/2--desktop-lg {
    margin-right: 50% !important; }
  .u-2\/2--desktop-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-2\/2--desktop-lg {
    margin-left: 100% !important; }
  .u-pull-2\/2--desktop-lg {
    margin-right: 100% !important; }
  /* Thirds
    ========================================================================== */
  .u-1\/3--desktop-lg {
    flex: 0 0 33.333333333% !important;
    max-width: 33.333333333% !important;
    width: 33.333333333% !important; }
  .u-push-1\/3--desktop-lg {
    margin-left: 33.333333333% !important; }
  .u-pull-1\/3--desktop-lg {
    margin-right: 33.333333333% !important; }
  .u-2\/3--desktop-lg {
    flex: 0 0 66.666666667% !important;
    max-width: 66.666666667% !important;
    width: 66.666666667% !important; }
  .u-push-2\/3--desktop-lg {
    margin-left: 66.666666667% !important; }
  .u-pull-2\/3--desktop-lg {
    margin-right: 66.666666667% !important; }
  .u-3\/3--desktop-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-3\/3--desktop-lg {
    margin-left: 100% !important; }
  .u-pull-3\/3--desktop-lg {
    margin-right: 100% !important; }
  /* Fourths
    ========================================================================== */
  .u-1\/4--desktop-lg {
    flex: 0 0 25% !important;
    max-width: 25% !important;
    width: 25% !important; }
  .u-push-1\/4--desktop-lg {
    margin-left: 25% !important; }
  .u-pull-1\/4--desktop-lg {
    margin-right: 25% !important; }
  .u-2\/4--desktop-lg {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-2\/4--desktop-lg {
    margin-left: 50% !important; }
  .u-pull-2\/4--desktop-lg {
    margin-right: 50% !important; }
  .u-3\/4--desktop-lg {
    flex: 0 0 75% !important;
    max-width: 75% !important;
    width: 75% !important; }
  .u-push-3\/4--desktop-lg {
    margin-left: 75% !important; }
  .u-pull-3\/4--desktop-lg {
    margin-right: 75% !important; }
  .u-4\/4--desktop-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-4\/4--desktop-lg {
    margin-left: 100% !important; }
  .u-pull-4\/4--desktop-lg {
    margin-right: 100% !important; }
  /* Fifths
    ========================================================================== */
  .u-1\/5--desktop-lg {
    flex: 0 0 20% !important;
    max-width: 20% !important;
    width: 20% !important; }
  .u-push-1\/5--desktop-lg {
    margin-left: 20% !important; }
  .u-pull-1\/5--desktop-lg {
    margin-right: 20% !important; }
  .u-2\/5--desktop-lg {
    flex: 0 0 40% !important;
    max-width: 40% !important;
    width: 40% !important; }
  .u-push-2\/5--desktop-lg {
    margin-left: 40% !important; }
  .u-pull-2\/5--desktop-lg {
    margin-right: 40% !important; }
  .u-3\/5--desktop-lg {
    flex: 0 0 60% !important;
    max-width: 60% !important;
    width: 60% !important; }
  .u-push-3\/5--desktop-lg {
    margin-left: 60% !important; }
  .u-pull-3\/5--desktop-lg {
    margin-right: 60% !important; }
  .u-4\/5--desktop-lg {
    flex: 0 0 80% !important;
    max-width: 80% !important;
    width: 80% !important; }
  .u-push-4\/5--desktop-lg {
    margin-left: 80% !important; }
  .u-pull-4\/5--desktop-lg {
    margin-right: 80% !important; }
  .u-5\/5--desktop-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-5\/5--desktop-lg {
    margin-left: 100% !important; }
  .u-pull-5\/5--desktop-lg {
    margin-right: 100% !important; }
  /* Sixths
    ========================================================================== */
  .u-1\/6--desktop-lg {
    flex: 0 0 16.6666667% !important;
    max-width: 16.6666667% !important;
    width: 16.6666667% !important; }
  .u-push-1\/6--desktop-lg {
    margin-left: 16.6666667% !important; }
  .u-pull-1\/6--desktop-lg {
    margin-right: 16.6666667% !important; }
  .u-2\/6--desktop-lg {
    flex: 0 0 33.3333333% !important;
    max-width: 33.3333333% !important;
    width: 33.3333333% !important; }
  .u-push-2\/6--desktop-lg {
    margin-left: 33.3333333% !important; }
  .u-pull-2\/6--desktop-lg {
    margin-right: 33.3333333% !important; }
  .u-3\/6--desktop-lg {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-3\/6--desktop-lg {
    margin-left: 50% !important; }
  .u-pull-3\/6--desktop-lg {
    margin-right: 50% !important; }
  .u-4\/6--desktop-lg {
    flex: 0 0 66.6666667% !important;
    max-width: 66.6666667% !important;
    width: 66.6666667% !important; }
  .u-push-4\/6--desktop-lg {
    margin-left: 66.6666667% !important; }
  .u-pull-4\/6--desktop-lg {
    margin-right: 66.6666667% !important; }
  .u-5\/6--desktop-lg {
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
    width: 83.333333% !important; }
  .u-push-5\/6--desktop-lg {
    margin-left: 83.333333% !important; }
  .u-pull-5\/6--desktop-lg {
    margin-right: 83.333333% !important; }
  .u-6\/6--desktop-lg {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-6\/6--desktop-lg {
    margin-left: 100% !important; }
  .u-pull-6\/6--desktop-lg {
    margin-right: 100% !important; } }

@media only screen and (min-width: 150em) {
  .u-1\/1--desktop-lgr {
    flex: 1 1 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-1\/1--desktop-lgr {
    margin-left: 100% !important; }
  .u-pull-1\/1--desktop-lgr {
    margin-right: 100% !important; }
  /* halves
    ========================================================================== */
  .u-1\/2--desktop-lgr {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-1\/2--desktop-lgr {
    margin-left: 50% !important; }
  .u-pull-1\/2--desktop-lgr {
    margin-right: 50% !important; }
  .u-2\/2--desktop-lgr {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-2\/2--desktop-lgr {
    margin-left: 100% !important; }
  .u-pull-2\/2--desktop-lgr {
    margin-right: 100% !important; }
  /* Thirds
    ========================================================================== */
  .u-1\/3--desktop-lgr {
    flex: 0 0 33.333333333% !important;
    max-width: 33.333333333% !important;
    width: 33.333333333% !important; }
  .u-push-1\/3--desktop-lgr {
    margin-left: 33.333333333% !important; }
  .u-pull-1\/3--desktop-lgr {
    margin-right: 33.333333333% !important; }
  .u-2\/3--desktop-lgr {
    flex: 0 0 66.666666667% !important;
    max-width: 66.666666667% !important;
    width: 66.666666667% !important; }
  .u-push-2\/3--desktop-lgr {
    margin-left: 66.666666667% !important; }
  .u-pull-2\/3--desktop-lgr {
    margin-right: 66.666666667% !important; }
  .u-3\/3--desktop-lgr {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-3\/3--desktop-lgr {
    margin-left: 100% !important; }
  .u-pull-3\/3--desktop-lgr {
    margin-right: 100% !important; }
  /* Fourths
    ========================================================================== */
  .u-1\/4--desktop-lgr {
    flex: 0 0 25% !important;
    max-width: 25% !important;
    width: 25% !important; }
  .u-push-1\/4--desktop-lgr {
    margin-left: 25% !important; }
  .u-pull-1\/4--desktop-lgr {
    margin-right: 25% !important; }
  .u-2\/4--desktop-lgr {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-2\/4--desktop-lgr {
    margin-left: 50% !important; }
  .u-pull-2\/4--desktop-lgr {
    margin-right: 50% !important; }
  .u-3\/4--desktop-lgr {
    flex: 0 0 75% !important;
    max-width: 75% !important;
    width: 75% !important; }
  .u-push-3\/4--desktop-lgr {
    margin-left: 75% !important; }
  .u-pull-3\/4--desktop-lgr {
    margin-right: 75% !important; }
  .u-4\/4--desktop-lgr {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-4\/4--desktop-lgr {
    margin-left: 100% !important; }
  .u-pull-4\/4--desktop-lgr {
    margin-right: 100% !important; }
  /* Fifths
    ========================================================================== */
  .u-1\/5--desktop-lgr {
    flex: 0 0 20% !important;
    max-width: 20% !important;
    width: 20% !important; }
  .u-push-1\/5--desktop-lgr {
    margin-left: 20% !important; }
  .u-pull-1\/5--desktop-lgr {
    margin-right: 20% !important; }
  .u-2\/5--desktop-lgr {
    flex: 0 0 40% !important;
    max-width: 40% !important;
    width: 40% !important; }
  .u-push-2\/5--desktop-lgr {
    margin-left: 40% !important; }
  .u-pull-2\/5--desktop-lgr {
    margin-right: 40% !important; }
  .u-3\/5--desktop-lgr {
    flex: 0 0 60% !important;
    max-width: 60% !important;
    width: 60% !important; }
  .u-push-3\/5--desktop-lgr {
    margin-left: 60% !important; }
  .u-pull-3\/5--desktop-lgr {
    margin-right: 60% !important; }
  .u-4\/5--desktop-lgr {
    flex: 0 0 80% !important;
    max-width: 80% !important;
    width: 80% !important; }
  .u-push-4\/5--desktop-lgr {
    margin-left: 80% !important; }
  .u-pull-4\/5--desktop-lgr {
    margin-right: 80% !important; }
  .u-5\/5--desktop-lgr {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-5\/5--desktop-lgr {
    margin-left: 100% !important; }
  .u-pull-5\/5--desktop-lgr {
    margin-right: 100% !important; }
  /* Sixths
    ========================================================================== */
  .u-1\/6--desktop-lgr {
    flex: 0 0 16.6666667% !important;
    max-width: 16.6666667% !important;
    width: 16.6666667% !important; }
  .u-push-1\/6--desktop-lgr {
    margin-left: 16.6666667% !important; }
  .u-pull-1\/6--desktop-lgr {
    margin-right: 16.6666667% !important; }
  .u-2\/6--desktop-lgr {
    flex: 0 0 33.3333333% !important;
    max-width: 33.3333333% !important;
    width: 33.3333333% !important; }
  .u-push-2\/6--desktop-lgr {
    margin-left: 33.3333333% !important; }
  .u-pull-2\/6--desktop-lgr {
    margin-right: 33.3333333% !important; }
  .u-3\/6--desktop-lgr {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    width: 50% !important; }
  .u-push-3\/6--desktop-lgr {
    margin-left: 50% !important; }
  .u-pull-3\/6--desktop-lgr {
    margin-right: 50% !important; }
  .u-4\/6--desktop-lgr {
    flex: 0 0 66.6666667% !important;
    max-width: 66.6666667% !important;
    width: 66.6666667% !important; }
  .u-push-4\/6--desktop-lgr {
    margin-left: 66.6666667% !important; }
  .u-pull-4\/6--desktop-lgr {
    margin-right: 66.6666667% !important; }
  .u-5\/6--desktop-lgr {
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
    width: 83.333333% !important; }
  .u-push-5\/6--desktop-lgr {
    margin-left: 83.333333% !important; }
  .u-pull-5\/6--desktop-lgr {
    margin-right: 83.333333% !important; }
  .u-6\/6--desktop-lgr {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important; }
  .u-push-6\/6--desktop-lgr {
    margin-left: 100% !important; }
  .u-pull-6\/6--desktop-lgr {
    margin-right: 100% !important; } }
